In [30]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [2]:
cars=pd.read_csv('C:/Users/student/Desktop/Toyota.csv')

In [3]:
cars

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [5]:
cars.head

<bound method NDFrame.head of       Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]>

In [6]:
cars=cars.set_index('Unnamed: 0')

In [7]:
cars.isnull()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
Unnamed: 0,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1431,False,True,False,False,False,False,False,False,False,False
1432,False,False,False,False,False,False,False,False,False,False
1433,False,True,False,False,False,False,False,False,False,False
1434,False,False,False,True,False,False,False,False,False,False
1435,False,False,False,False,False,False,False,False,False,False

In [9]:
cars.isnull().any

<bound method NDFrame._add_numeric_operations.<locals>.any of             Price    Age     KM  FuelType     HP  MetColor  Automatic     CC  \
Unnamed: 0
0           False  False  False     False  False     False      False  False
1           False  False  False     False  False     False      False  False
2           False  False  False     False  False      True      False  False
3           False  False  False     False  False     False      False  False
4           False  False  False     False  False     False      False  False
...           ...    ...    ...       ...    ...       ...        ...    ...
1431        False   True  False     False  False     False      False  False
1432        False  False  False     False  False     False      False  False
1433        False   True  False     False  False     False      False  False
1434        False  False  False      True  False     False      False  False
1435        False  False  False     False  False     False      False  False

            Doors  Weight
Unnamed: 0
0           False   False
1           False   False
2           False   False
3           False   False
4           False   False
...           ...     ...
1431        False   False
1432        False   False
1433        False   False
1434        False   False
1435        False   False

[1436 rows x 10 columns]>

In [10]:
carsl=cars.dropna()

In [11]:
carsl.shape

(1111, 10)

In [14]:
cars2=cars.dropna(axis=1)

In [15]:
cars2.shape

(1436, 7)

In [20]:
cars.isnull().sum()

Price          0
Age          100
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [19]:
cars2.dropna(how='all')

            Price     KM   HP  Automatic    CC  Doors  Weight
Unnamed: 0
0           13500  46986   90          0  2000  three    1165
1           13750  72937   90          0  2000      3    1165
2           13950  41711   90          0  2000      3    1165
3           14950  48000   90          0  2000      3    1165
4           13750  38500   90          0  2000      3    1170
...           ...    ...  ...        ...   ...    ...     ...
1431         7500  20544   86          0  1300      3    1025
1432        10845     ??   86          0  1300      3    1015
1433         8500  17016   86          0  1300      3    1015
1434         7250     ??   86          0  1300      3    1015
1435         6950      1  110          0  1600      5    1114

[1436 rows x 7 columns]

In [22]:
cars3=cars.dropna(axis=0)

In [23]:
#detecting misisng values

In [24]:
cars['KM'].unique()

array(['46986', '72937', '41711', ..., '30964', '20544', '17016'],
      dtype=object)

In [26]:
cars['KM'].value_counts()

??       15
1         8
59000     7
36000     7
43000     7
         ..
63635     1
63792     1
64193     1
65170     1
17016     1
Name: KM, Length: 1256, dtype: int64

In [35]:
cars['KM'].replace('??',np.nan,inplace=True)

In [36]:
cars['KM'].value_counts()

1        8
59000    7
36000    7
43000    7
10000    6
        ..
63635    1
63792    1
64193    1
65170    1
17016    1
Name: KM, Length: 1255, dtype: int64

In [38]:
cars['KM'].isnull().sum()

15

In [39]:
missing=cars.isnull().any(axis=1)
missing.head()

Unnamed: 0
0    False
1    False
2     True
3    False
4    False
dtype: bool

In [40]:
cars=cars.astype('Netcolor':object,'Automatic':object)

SyntaxError: invalid syntax (Temp/ipykernel_10968/1242026791.py, line 1)